* {
    box-sizing: border-box;
}

table.table {
    font-family: "Segoe UI Historic", sans-serif;
    font-size: 1.25rem;
    border-collapse: collapse;
    text-align: left;
}

table.table, .table th, .table td {
    border: 1px solid #cccccc;
}

.column1 {
    width: 10.9375rem;
}

.column2 {
    width: 10.875rem;
}

.column3 {
    width: 19.375rem;
}

.column4 {
    width: 12.5rem;
}

.table th, .table td {
    padding: 0.875rem 0.875rem 0.875rem 0.65rem;
}

.table th {
    background-color: #3498db;
    color: #fff;
}

.table tbody tr:nth-child(odd) {
    background-color: #eeeeee;
}

