@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$blue: #2d545e;
$sandy: #c9956d;
$site-font: "Playfair Display", Georgia, "Times New Roman", serif;

$theme-colors: (
        primary: $blue
);

[v-cloak] {
  display: none;
}

.header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

h1 {
  font-family: $site-font;
}

.title {
  background: linear-gradient(to bottom, $blue, #788687);
  color: #fff;
}

@media (min-width: 960px) {
  .main-container {
    width: 80%;
    margin: 0 auto;
  }
}

.display-4 {
  font-size: 2rem;
}

@media (min-width: 960px) {
  .display-4 {
    font-size: 3.5rem;
  }
}

.nav {
  button {
    color: #6c757d;
  }
}

div.form-group {
  width: 60%;
  margin: 0 auto;
}

div.search-panel {
  width: 100%;
  vertical-align: middle;
}

.search-button {
  border-color: #ced4da;
}

button.delete-button {
  border: 0;
  background-color: transparent;
}

.table {
  th {
    background-color: #ebcc9d;
    color: #fff;
    font-family: $site-font;
    border-color: $sandy;
    border-bottom: 1px solid $sandy !important;
  }
}

.table-striped {
  tbody tr:nth-of-type(odd) {
    background: linear-gradient(to bottom, #f5f1e6, #f9f9f9);
  }
}

.wrapper {
  min-height: calc(100vh - 2.875rem);
}

.footer {
  padding: 0.657rem 0;
  text-align: center;
  background-color: #f7fbfc;
  border-top: 0;
}

.footer a {
  color: #6c757d;
}

@import "node_modules/bootstrap/scss/bootstrap";