[v-cloak] {
    display: none;
}

.todo-center-page {
    min-height: 100vh;
    margin: 0 auto;
    border-radius: 7px;
    background-color: #c6e9e3;
}

@media (min-width: 768px) {
    .todo-center-page {
        width: 65%;
    }
}

.title {
    font-size: 2rem;
}

.input-div input {
    max-width: 98%;
}

.button-add-div {
    display: inline-flex;
    height: calc(1.5em + .75rem + 2px);
}

.list-group-item {
    background-color: #c6e9e3;
    border-bottom-width: 0;
}

.item {
    max-width: 98%;
    border-bottom: 1px solid #d3d3d3;
}

.btn-light {
    border-color: #ffc107;
}

.edit-btn {
    height: 28px;
    vertical-align: middle;
}

div.item-text {
    word-break: break-all;
    display: inline-block;
}

.checkbox {
    cursor: pointer;
}

.edit-input {
    display: inline;
    width: 95%;
    height: 28px;
}

[type="checkbox"]:checked + .item-text {
    text-decoration: line-through;
}