{% extends 'layout.twig' %}

{% block body %}
    {% verbatim %}
  <div v-cloak id="phone-book">
    <div class="main-container px-2">
        <div class="wrapper flex-grow-1">
            <header class="header pt-3">
                <div class="title pl-5 py-lg-8 py-4 rounded">
                    <div class="col-12 col-lg-8">
                        <h1 class="display-4 m-0 font-italic">Телефонная книга</h1>
                    </div>
                </div>

                <nav class="row nav py-2 pr-1">
                    <button v-if="!needForm" @click="needForm = true" type="button"
                            class="btn btn-link col-12 col-md-3">Добавить
                        новый контакт
                    </button>
                    <button v-if="needForm" @click="needForm = false" type="button"
                            class="btn btn-link col-12 col-md-3">Скрыть
                        форму
                    </button>
                    <button @click="deleteContacts" type="button" class="btn btn-link col-12 col-md-3">Удалить выбранные
                        контакты
                    </button>

                    <search-panel class="col-12 col-md-6" @search-contact="getContacts"></search-panel>
                </nav>
            </header>

            <add-contact v-if="needForm" @add-contact="addContact" @confirm-phone="confirmPhone"
                         :is-confirmed-phone="isConfirmedPhone" :contacts-count="contactsLength"></add-contact>

            <div class="phone-table table-responsive-md">
                <table class="table table-striped">
                    <thead>
                    <tr class="d-flex">
                        <th class="col-1 p-1 p-lg-3"><input v-model="isAllSelected" @input="selectAll" type="checkbox"/>
                        </th>
                        <th class="col-1 p-1 p-lg-3">№</th>
                        <th class="col-3 p-1 p-lg-3">Фамилия</th>
                        <th class="col-3 p-1 p-lg-3">Имя</th>
                        <th class="col-3 p-1 p-lg-3">Номер телефона</th>
                        <th class="col-1 p-1 p-lg-3"></th>
                    </tr>
                    </thead>

                    <tbody class="table-striped">
                    <tr v-for="(contact, index) in contacts" :key="contact.id" class="d-flex">
                        <td class="col-1 p-1 p-lg-3"><input v-model="contact.isSelected" type="checkbox"/></td>
                        <td class="col-1 p-1 p-lg-3">{{ index + 1 }}.</td>
                        <td v-text="contact.surname" class="col-3 p-1 p-lg-3"></td>
                        <td v-text="contact.name" class="col-3 p-1 p-lg-3"></td>
                        <td v-text="contact.phone" class="col-3 p-1 p-lg-3"></td>
                        <td class="col-1 px-0 p-lg-3">
                            <button @click="deleteContact(contact.id)" class="delete-button" title="Удалить контакт">
                                &#10006
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="footer rounded">
            <p class="mb-0"><a href="#">Наверх</a></p>
        </footer>
    </div>
</div>

<script id="add-contact-template" type="text/x-template">
    <div class="form-group py-3">
        <div class="pb-2">
            <label for="surname">Фамилия</label>
            <input v-model="surname" type="text" :class="{ 'is-invalid': attemptAdd && missingSurname }"
                   class="form-control" id="surname" required>
            <div class="invalid-feedback">Введите фамилию</div>
        </div>

        <div class="pb-2">
            <label for="name">Имя</label>
            <input v-model="name" type="text" :class="{ 'is-invalid': attemptAdd && missingName }" class="form-control"
                   id="name" required>
            <div class="invalid-feedback">Введите имя</div>
        </div>

        <div>
            <label for="phone">Номер телефона</label>
            <input v-model="phone" type="text"
                   :class="{ 'is-invalid': (attemptAdd && missingPhone) ||  (attemptAdd && isDuplicatePhone)}"
                   class="form-control" id="phone" required>
            <div class="invalid-feedback">
                <div v-if="missingPhone">Введите телефон</div>
                <div v-else>Контакт с таким номером уже существует</div>
            </div>
        </div>

        <button @click="addContact" class="btn btn-primary mt-2" type="button">Добавить контакт</button>
        <button @click="cleanAddForm" class="btn btn-primary mt-2" type="button">Очистить форму</button>
    </div>
</script>

<script id="search-panel-template" type="text/x-template">
    <div class="search-panel">
        <div class="input-group">
            <input v-model="term" type="text" class="form-control" placeholder="Поиск"
                   aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary material-icons search-button" @click="search"
                        title="Найти контакт" type="button">search
                </button>
            </div>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary search-button" @click="cancelSearch" title="Отменить поиск"
                        type="button">Отмена
                </button>
            </div>
        </div>
    </div>
</script>
  {% endverbatim %}
{% endblock %}