<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>Phone Book</title>
    <link rel="stylesheet" type="text/css" href="/libs/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body class="d-flex flex-column min-vh-100">

{% block body %}{% endblock %}

<script src="/libs/jquery.min.js"></script>
<script src="/libs/bootstrap.min.js"></script>
<script src="/libs/vue.min.js"></script>
<script src="/libs/bootbox.min.js"></script>
<script src="/libs/bootbox.locales.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>