body {
    background-color: rgb(254, 238, 214);
}

.grey-text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(105, 102, 103);
    font-weight: 100;
}

.blue-text {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(55, 141, 178);
    font-weight: bold;
    font-size: 1.05rem;
    margin: 0.5rem;
}

h1.grey-text {
    font-size: 1.6rem;
    margin: 0.5rem;
}

p.grey-text {
    text-indent: 15px;
    text-align: justify;
    line-height: 1.4em;
    margin: 0.5rem;
    font-size: 0.96rem;
}

.strikethrough {
    text-decoration: line-through
}